<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDialog</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-browser" aria-hidden="true"></span> Inline Usage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Service">
                <span class="oi oi-browser" aria-hidden="true"></span> Dialog as a service
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ComponentAsDialog">
                <span class="oi oi-browser" aria-hidden="true"></span> Component as dialog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Customization">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Events">
                <span class="oi oi-flash" aria-hidden="true"></span> Events
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
