@namespace BlazorDialog
<div class="blazor-dialog-footer @CssClass">
    @ChildContent
</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; }
}