@inject IBlazorDialogService dialogService
@inject IBlazorDialogStore dialogStore
@namespace BlazorDialog
@implements IDisposable
@if (isShowing)
{
    <CascadingValue Value="this" Name="ParentDialog" IsFixed="true">
        <CascadingValue Value="this.Input" Name="DialogInput">
            @if (!IsCustom)
            {
                <div class="blazor-dialog-container @CssClass @(Centered ? "blazor-dialog-centered" : "")" style="z-index:@(BaseZIndex + dialogDepth)">
                    <div class="blazor-dialog-content-wrapper @ContentWrapperCssClass @AnimationCssClass">
                        <div class="blazor-dialog-content">
                            @ChildContent
                        </div>
                    </div>
                </div>
            }
            else
            {
                @ChildContent
            }
        </CascadingValue>
    </CascadingValue>
}

@code{

    [Parameter] public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// The unique idetifier of the dialog. This field is required when using the dialog as a service.
    /// </summary>
    [Parameter] public string Id { get; set; }

    /// <summary>
    /// The base z-index of the dialog when shown. Default: 1050
    /// </summary>
    [Parameter] public int BaseZIndex { get; set; } = 1050;

    /// <summary>
    /// Use this to show/hide the dialog as a simple component.
    /// </summary>
    [Parameter] public bool? IsShowing { get; set; }
    private bool isShowing;

    /// <summary>
    /// The input provided to the dialog when opening.
    /// </summary>
    [Parameter] public object? Input { get; set; }

    /// <summary>
    /// An event that is triggered before the dialog appears.
    /// </summary>
    [Parameter] public EventCallback<DialogBeforeShowEventArgs> OnBeforeShow { get; set; }

    /// <summary>
    /// An event that is triggered after the dialog appears.
    /// </summary>
    [Parameter] public EventCallback<DialogAfterShowEventArgs> OnAfterShow { get; set; }

    /// <summary>
    /// An event that is triggered before the dialog hides.
    /// </summary>
    [Parameter] public EventCallback<DialogBeforeHideEventArgs> OnBeforeHide { get; set; }

    /// <summary>
    /// An event that is triggered after the dialog hides.
    /// </summary>
    [Parameter] public EventCallback<DialogAfterHideEventArgs> OnAfterHide { get; set; }

    /// <summary>
    /// Allows you to set the dialog size. Ignored when the dialog is <see cref="Dialog.IsCustom" />.
    /// </summary>
    [Parameter] public DialogSize Size { get; set; } = DialogSize.Normal;

    /// <summary>
    /// Allows you to change the appearing animation. Ignored when the dialog is <see cref="Dialog.IsCustom" />.
    /// </summary>
    [Parameter] public DialogAnimation Animation { get; set; } = DialogAnimation.None;

    /// <summary>
    /// Allows you to set the positioning of the dialog from the top. Ignored when the dialog is <see cref="Dialog.IsCustom" />.
    /// </summary>
    [Parameter] public bool Centered { get; set; }

    /// <summary>
    /// If set to true then all default html/css is removed. Use when custom dialog implementations are needed.
    /// </summary>
    [Parameter] public bool IsCustom { get; set; }

    /// <summary>
    /// Adds a custom css class to the wrapper of the dialog.
    /// </summary>
    [Parameter] public string CssClass { get; set; }

    /// <summary>
    /// An event that is triggered after the dialog renders.
    /// </summary>
    [Parameter] public EventCallback<bool> OnAfterRender { get; set; }

    protected TaskCompletionSource<object> taskCompletionSource;
    internal Action<object> OnDialogHide;
    protected void NotifyDialogHidden(object result) => OnDialogHide?.Invoke(result);

    protected string ContentWrapperCssClass
    {
        get
        {
            switch (Size)
            {
                case DialogSize.Normal:
                    return "blazor-dialog-content-wrapper-windowed blazor-dialog-content-wrapper-normal";
                case DialogSize.Small:
                    return "blazor-dialog-content-wrapper-windowed blazor-dialog-content-wrapper-small";
                case DialogSize.Large:
                    return "blazor-dialog-content-wrapper-windowed blazor-dialog-content-wrapper-large";
                case DialogSize.ExtraLarge:
                    return "blazor-dialog-content-wrapper-windowed blazor-dialog-content-wrapper-xlarge";
                case DialogSize.ExtraExtraLarge:
                    return "blazor-dialog-content-wrapper-windowed blazor-dialog-content-wrapper-xxlarge";
                case DialogSize.FullScreen:
                    return "blazor-dialog-content-wrapper-full";
                default:
                    throw new Exception("Unknown dialog size");
            }
        }
    }

    protected string AnimationCssClass
    {
        get
        {
            switch (Animation)
            {
                case DialogAnimation.None:
                    return "";
                case DialogAnimation.SlideDown:
                    return "blazor-dialog__animations--slidedown";
                case DialogAnimation.Zoom:
                    return "blazor-dialog__animations--zoom";
                case DialogAnimation.FadeIn:
                    return "blazor-dialog__animations--fadein";
                default:
                    throw new Exception("Unknown dialog animation");
            }
        }
    }


    protected override void OnInitialized()
    {
        if (Id != null)
        {
            dialogStore.Register(this);
        }
        OnDialogHide = (object result) =>
        {
            if (taskCompletionSource != null)
            {
                taskCompletionSource.SetResult(result);
                taskCompletionSource = null;
            }
        };
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        isShowingChanged = parameters.TryGetValue(nameof(IsShowing), out bool? newIsShowing) && newIsShowing != IsShowing;
        await base.SetParametersAsync(parameters);
    }

    bool isShowingChanged = false;
    int dialogDepth = 0;
    protected override async Task OnParametersSetAsync()
    {
        if (isShowingChanged && IsShowing == true && !isShowing)
        {
            if (OnBeforeShow.HasDelegate)
            {
                var args = new DialogBeforeShowEventArgs(this);
                await OnBeforeShow.InvokeAsync(args);
            }
            this.isShowing = true;
            dialogDepth = dialogStore.GetVisibleDialogsCount();
            if (OnAfterShow.HasDelegate)
            {
                var args = new DialogAfterShowEventArgs(this);
                await OnAfterShow.InvokeAsync(args);
            }
        }
        else if (isShowingChanged && IsShowing == false && isShowing)
        {
            if (OnBeforeHide.HasDelegate)
            {
                var args = new DialogBeforeHideEventArgs(this);
                await OnBeforeHide.InvokeAsync(args);
            }
            this.isShowing = false;
            if (OnAfterHide.HasDelegate)
            {
                var args = new DialogAfterHideEventArgs(this);
                await OnAfterHide.InvokeAsync(args);
            }
        }
    }

    public void Dispose()
    {
        dialogStore.Unregister(this);
        if (taskCompletionSource != null)
        {
            taskCompletionSource.TrySetCanceled();
            taskCompletionSource = null;
        }
    }

    public async Task Show()
    {
        await Show<object>();
    }

    public async Task<TResult?> Show<TResult>()
    {
        this.Input = null;
        var result = await ShowInternal();
        return result == null ? default : (TResult)result;
    }

    public async Task Show(object input)
    {
        await this.Show<object>(input);
    }

    public async Task<TResult?> Show<TResult>(object input)
    {
        this.Input = input;
        var result = await ShowInternal();
        return result == null ? default : (TResult)result;
    }

    private async Task<object?> ShowInternal()
    {
        if (OnBeforeShow.HasDelegate)
        {
            var args = new DialogBeforeShowEventArgs(this);
            await OnBeforeShow.InvokeAsync(args);
        }
        this.isShowing = true;
        dialogDepth = dialogStore.GetVisibleDialogsCount();
        await InvokeAsync(() => StateHasChanged());
        if (OnAfterShow.HasDelegate)
        {
            var args = new DialogAfterShowEventArgs(this);
            await OnAfterShow.InvokeAsync(args);
        }
        if (taskCompletionSource != null)
        {
            taskCompletionSource.TrySetCanceled();
            taskCompletionSource = null;
        }

        taskCompletionSource = new TaskCompletionSource<object>();
        return await taskCompletionSource.Task;
    }


    public async Task Hide<TResult>(TResult result)
    {
        if (OnBeforeHide.HasDelegate)
        {
            var args = new DialogBeforeHideEventArgs(this);
            await OnBeforeHide.InvokeAsync(args);
        }
        this.isShowing = false;
        NotifyDialogHidden(result);
        await InvokeAsync(() => StateHasChanged());
        if (OnAfterHide.HasDelegate)
        {
            var args = new DialogAfterHideEventArgs(this);
            await OnAfterHide.InvokeAsync(args);
        }
    }

    public async Task Hide()
    {
        await this.Hide<object>(null);
    }

    public bool GetVisibility()
    {
        return this.isShowing;
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (OnAfterRender.HasDelegate)
        {
            OnAfterRender.InvokeAsync(firstRender);
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
