@page "/"
<h1>Blazor Dialog Samples App</h1>

@{
    var tabItems = new List<TabItem>()
{
        new TabItem
        {
            HeaderText = "Demo",
            Contents = @<BlazorDialog.DemoApp.Client.Sources.Index />
        },
        new TabItem
        {
            HeaderText = "<> Source",
            Contents = @<SourceFileLoader SourceFilePath="Sources/Index.razor" />
        },
    };
}

<TabStrip Title="Using a dialog as a service" TabItems="tabItems" />